@model PCLoan.Models.Computer

@{
    ViewBag.Title = "Confirm";
}

<div class="container d-flex h-100">
    <div class="row align-self-center w-100">
        <div class="col-12 mx-auto mb-5">
            <p class="display-3 text-center">Vælg din PC her:</p>

        </div>
    </div>
</div>
