@model PCLoan.Models.ConfirmModel

@{
    ViewBag.Title = "Confirm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container d-flex h-100">
    <div class="row align-self-center w-100">
        <div class="col-12">
            <p class="display-3 align-self-center">@ViewBag.DropdownMessage</p>
            <p>Velkommen, @Request.Cookies["username"].Value</p>
            <div class="col-6">
                @Html.DropDownListFor(model => model.SelectedComputer, new SelectList(Model.AvailableComputers, "Value", "Text"), (string)ViewBag.DropdownMessage, htmlAttributes: new { @class = "form-control" })
            </div>
            <div class="btn">
                <button>@ViewBag.DropdownButton</button>
            </div>
        </div>
    </div>
</div>
