@model PCLoan.Models.Computer

@{
    ViewBag.Title = "Confirm";
}

<h2>Vælg din PC her:</h2>
<div>
    @Html.DropDownListFor(m => m.SelectedState, new SelectList(Enum.GetValues(typeof(string))), "Vælg Computer")
</div>

