
@{
    ViewBag.Title = "LoginScreen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>LoginScreen</h2>
<div id="loginbox" style="display:block" >
    <form name="login" action="" method="post">
        <center>Brugernavn:</center>
        <center><input name="username" id="formname" size="14" placeholder="Brugernavn"/></center>
        <center>Adgangskode:</center>
        <center><input name="password" type="password" id="formpass" size="14" placeholder="Adgangskode"/></center>
        <center><button id="login-btn" >login</button></center>
    </form>
</div>
