@model PCLoan.Models.LoginModel

@{
    ViewBag.Title = "Login Screen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Log ind</h2>
<div id="loginbox" style="display:block">
    <div>
        <form name="login" action="" method="post">
            <div>
                @Html.LabelFor(m => m.username)
                <center>@Html.TextBoxFor(m => m.username, new { @class = "#formname"})</center>
            </div>
            <div>
                @Html.LabelFor(m => m.password)
                <center>@Html.PasswordFor(m => m.password, new { @class = "#formpass"})</center>
            </div>
            <div id="login-btn">
                <center><button type="submit">login</button></center>
            </div>
        </form>
    </div>
</div>
