
@{
    ViewBag.Title = "Index";
    Layout = "_LayoutWithoutNavbar";
}

<div class="container d-flex h-100">
    <div class="row align-self-center w-100">
        <div class="col-12 mx-auto mb-5">
            <p class="display-3 text-center">Hvad vil du?</p>
        </div>
    </div>
</div>
<div class="container d-flex h-100">
    <div class="row align-self-center w-100">
        <div class="col-2"></div>
        <div class="col-8">
            <div class="row">
                @using (Html.BeginForm("Index", "Computer", FormMethod.Post))
                {
                    <div class="col-6 mb-5 text-center">
                        <button type="submit" class="btn btn-success display-4 p-3 text-decoration-none" name="submitButton" value="loan">Udlån</button>
                    </div>
                    <div class="col-6 mb-5 text-center">
                        <button type="submit" class="btn btn-danger display-4 p-3 text-decoration-none" name="submitButton" value="return">Aflever</button>
                    </div>
                }
            </div>
        </div>
        <div class="col-2"></div>
    </div>
</div>

@section scripts {
    <script>
        let keysPressed = {};

        document.addEventListener("keydown", (event) => {
            keysPressed[event.key] = true;

            if (keysPressed['Control'] && keysPressed['Alt'] && event.key == 'F9') {
                window.location = "https://localhost:44324/admin/index";
            }
        });

        document.addEventListener("keyup", (event) => {
            delete keysPressed[event.key];
        });
    </script>
}